<nav>
    <a class='nav-logo' href="/">notIMBD</a>
    <a href="/">Home</a>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="logout">logout</a>
    <a href="/movies">movie info</a>
</nav>