<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>  
  </head>
  <body>
    {{>_nav}}
    {{{body}}}


<script src="/javascripts/front.js"></script>

  </body>
</html>
