<div class="container-1 fullh">
    <div class="success" style='display: {{registered}};'>
        <h4>You have successfully registered</h4>
        <p>please login</p>
    </div> 
    <h1>Login</h1>
    <form action="/login" method='post'>
        <input class='text-input' type="text" placeholder='Username' name='username' required >
        <input class='text-input' type="password" placeholder='Password' name='password' required >
        <input type="submit" class='btn blue'>
    </form>
</div>